<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Humans List</title>
    <style>
        .sidebar {
            float: left;
            width: 20%;
            height: 100%;
            background-color: #f0f0f0;
            padding: 20px;
        }

        .content {
            float: left;
            width: 80%;
            height: 100%;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <h3>Professions</h3>
        <ul>
            {% for profession in professions %}
                <li><a href="#{{ profession.name }}">{{ profession.name }}</a></li>
            {% empty %}
                <li>No professions yet.</li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="content">
        <h1>Humans List</h1>
        <ul>
            {% for human in humans %}
                <li id="{{ human.name }}">
                    <div>
                        <h2>{{ human.name | upper }}</h2>
                        <p>Age: {{ human.age }}</p>
                        <p>Email: {{ human.email }}</p>
                        <div class="photo-container">
                            {% if human.photo %}
                                <img src="{{ human.photo.url }}" alt="{{ human.name }} photo">
                            {% else %}
                                <p>No photo available</p>
                            {% endif %}
                        </div>
                        <p>Profession:
                            {% if human.profession %}  
                                <a href="#{{ human.profession.name }}">{{ human.profession.name }}</a>
                            {% else %}
                                Not specified
                            {% endif %}
                        </p>
                    </div>
                </li>
            {% empty %}
                <li>No humans yet.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>